#id {
  color: #FFF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

#box {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  vertical-align: middle;
  text-align: center;
}

#clock {
  width: 100%;
  height: 100%;
  font-size: 10vw;
}

#flashcard {
  width: 100%;
  height: 100%;
  background-color: rgb(44,47,50);
  vertical-align: middle;
  text-align: center;
  font-size: 5vw;
}
